<div class="container" *ngIf="getRole() === UserRoles.student">
  <div *ngIf="forReselect.length" class="sub-container">
    <div class="title">Дисципліни для перевибору:</div>

    <div class="subtitle">Дані дисципліни будуть видалені зі списку ваших дисциплін після перевибору!</div>

    <p-table
      class="fullSize"
      [value]="forReselect"
      [paginator]="true"
      [sortMode]="'multiple'"
      [scrollable]="true"
      [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code">Код
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="title">Назва
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="forSemester">Обрано на семестр
            <p-sortIcon field="forSemester"></p-sortIcon>
          </th>
          <th pSortableColumn="forYear">Обрано на курс
            <p-sortIcon field="forYear"></p-sortIcon>
          </th>
          <th pSortableColumn="catalogueType">Каталог
            <p-sortIcon field="catalogueType"></p-sortIcon>
          </th>
          <th pSortableColumn="educationalLevel">Рівень освіти
            <p-sortIcon field="educationalLevel"></p-sortIcon>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-discipline>
        <tr>
          <td>{{ discipline.code }}</td>
          <td>{{ discipline.title }}</td>
          <td>{{ discipline.forSemester }}</td>
          <td>{{ discipline.forYear }}</td>
          <td>{{ getCatalogueType(discipline) }}</td>
          <td>{{ getEducationalLevel(discipline) }}</td>
        </tr>
      </ng-template>
    </p-table>

    <div class="title">Доступні дисципліни:</div>

    <div class="subtitle">Кількість дисциплін, доступних для перевибору: <span>{{ forReselect.length }}</span></div>

    <div class="search-container fullSize">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Пошук"
          (input)="applyFilter($event)"
        />
      </span>
    </div>

    <p-table
      class="fullSize"
      [value]="disciplines"
      [paginator]="true"
      [sortMode]="'multiple'"
      [scrollable]="true"
      [rowsPerPageOptions]="[5, 10, 20]"
      [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code">Код
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="title">Назва
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="catalogueType">Каталог
            <p-sortIcon field="catalogueType"></p-sortIcon>
          </th>
          <th pSortableColumn="educationalLevel">Рівень освіти
            <p-sortIcon field="educationalLevel"></p-sortIcon>
          </th>
          <th pSortableColumn="link">Посилання
            <p-sortIcon field="link"></p-sortIcon>
          </th>
          <th style="width: 5rem"></th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-discipline>
        <tr>
          <td>{{ discipline.code }}</td>
          <td>{{ discipline.title }}</td>
          <td>{{ getCatalogueType(discipline) }}</td>
          <td>{{ getEducationalLevel(discipline) }}</td>
          <td>
            <a class="link" href="{{discipline.link || '#'}}" target="_blank">
              {{ discipline.link ? discipline.link.slice(0, 20) + '...' : '-' }}
            </a>
          </td>
          <td>
            <p-button icon="pi pi-plus-circle" [rounded]="true" [text]="true" severity="info"
                      (click)="add(discipline)"/>
          </td>
          <td>
            <p-button icon="pi pi-minus-circle" [rounded]="true" [text]="true" severity="info"
                      (click)="delete(discipline)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="title">Переобрані дисципліни:</div>

    <div class="subtitle">Ретельно перевірте дані!</div>

    <p-table
      class="fullSize"
      [value]="reselect"
      [paginator]="true"
      [sortMode]="'multiple'"
      [scrollable]="true"
      [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code">Код
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="title">Назва
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="catalogueType">Каталог
            <p-sortIcon field="catalogueType"></p-sortIcon>
          </th>
          <th pSortableColumn="educationalLevel">Рівень освіти
            <p-sortIcon field="educationalLevel"></p-sortIcon>
          </th>
          <th pSortableColumn="link">Посилання
            <p-sortIcon field="link"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-discipline>
        <tr>
          <td>{{ discipline.code }}</td>
          <td>{{ discipline.title }}</td>
          <td>{{ getCatalogueType(discipline) }}</td>
          <td>{{ getEducationalLevel(discipline) }}</td>
          <td>
            <a class="link" href="{{discipline.link || '#'}}" target="_blank">
              {{ discipline.link ? discipline.link.slice(0, 20) + '...' : '-' }}
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-button
      class="btn"
      label="Підтвердити вибір"
      severity="success"
      icon="pi pi-check"
      (onClick)="confirm()"
    ></p-button>
  </div>

  <div class="sub-container" *ngIf="!forReselect.length">
    <div class="title">У вас немає дисциплін, доступних для перевибору!</div>

    <p-button
      class="btn"
      label="Повернутись на головну сторінку"
      icon="pi pi-arrow-left"
      routerLink="/"
    ></p-button>
  </div>
</div>


<div *ngIf="getRole() !== UserRoles.student" class="ban">
  <i class="pi pi-lock ban-icon"></i>

  <div class="ban-text">
    У вас немає доступу до цієї сторінки!
  </div>
</div>
