.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt-3 {
  margin-top: 1rem;
}

p-inputGroup,
p-dropdown {
  width: 100%;
}

.title {
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

p-dropdown, .p-dropdown {
  width: 100% !important;
}

p-dropdown {
  display: block;
}

p-password {
  width: 100% !important;
}
