<div *ngIf="getRole() === UserRoles.admin || getRole() === UserRoles.teacher">
  <div class="user-list-container">
    <div class="container-header mb-3">
      <div class="search-container">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Пошук"
          (input)="applyFilter($event)"
        />
      </span>
      </div>

      <div class="button-container">
        <button
          pButton
          label="Додати дисципліну"
          icon="pi pi-plus"
          class="p-button-success"
          (click)="openAddDisciplineDialog()"></button>
      </div>
    </div>

    <p-table
      [value]="filteredDisciplines"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [sortMode]="'multiple'"
      [rowsPerPageOptions]="[5, 10, 20]"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="code">Код
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="title">Назва
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="semester">Семестр
            <p-sortIcon field="semester"></p-sortIcon>
          </th>
          <th pSortableColumn="year">Курс
            <p-sortIcon field="year"></p-sortIcon>
          </th>
          <th pSortableColumn="catalogueType">Каталог
            <p-sortIcon field="catalogueType"></p-sortIcon>
          </th>
          <th pSortableColumn="educationalLevel">Рівень
            <p-sortIcon field="educationalLevel"></p-sortIcon>
          </th>
          <th pSortableColumn="link">Посилання
            <p-sortIcon field="link"></p-sortIcon>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-discipline>
        <tr>
          <td>{{ discipline.id }}</td>
          <td>{{ discipline.code }}</td>
          <td>{{ discipline.title }}</td>
          <td>{{ discipline.semester || '-' }}</td>
          <td>{{ discipline.year || '-' }}</td>
          <td>{{ getCatalogueType(discipline) }}</td>
          <td>{{ getEducationalLevel(discipline) }}</td>
          <td>
            <a class="link" href="{{discipline.link || '#'}}" target="_blank">
              {{ discipline.link ? discipline.link.slice(0, 20) + '...' : '-' }}
            </a>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-warning"
              (click)="editDiscipline(discipline)"
            ></button>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="confirmDelete($event, discipline.id)"
            ></button>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-eye"
              class="p-button-accent"
              (click)="viewDisciplineDetails(discipline)"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Дані не знайдені...</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="displayDisciplineDialog"
    [header]="'Детальна інформація'"
    [closable]="true"
    [dismissableMask]="true"
    [style]="{width: '1000px'}"
    [modal]="true"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <div *ngIf="selectedDiscipline">
        <p><strong>ID:</strong> {{ selectedDiscipline.id }}</p>
        <p><strong>Код дисципліни:</strong> {{ selectedDiscipline.title }}</p>
        <p><strong>Назва дисципліни:</strong> {{ selectedDiscipline.title }}</p>
        <p><strong>Семестр:</strong> {{ selectedDiscipline.semester || '-' }}</p>
        <p><strong>Курс:</strong> {{ selectedDiscipline.year || '-' }}</p>
        <p><strong>Тип каталогу:</strong> {{ getCatalogueType(selectedDiscipline) }}</p>
        <p><strong>Рівень освіти:</strong> {{ getEducationalLevel(selectedDiscipline) }}</p>
        <p>
          <strong>Посилання:</strong>
          <a class="link" href="{{selectedDiscipline.link || '#'}}" target="_blank">
            {{ selectedDiscipline.link ? selectedDiscipline.link.slice(0, 50) + '...' : '-' }}
          </a>
        </p>
        <p><strong>Дата створення запису:</strong> {{ selectedDiscipline.createdAt | date:'dd.MM.yyyy HH:mm' }}</p>
        <p><strong>Дата оновлення запису:</strong> {{ selectedDiscipline.updatedAt | date:'dd.MM.yyyy HH:mm' }}</p>
        <div *ngIf="users.length">
          <p-table
            [value]="users"
            [paginator]="true"
            [rows]="5">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Студент
                  <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="forSemester">Обрано на семестр
                  <p-sortIcon field="forSemester"></p-sortIcon>
                </th>
                <th pSortableColumn="forYear">Обрано на курс
                  <p-sortIcon field="forYear"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.forSemester || '-' }}</td>
                <td>{{ user.forYear || '-' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="!users.length">
          <p><strong>Дисципліну не обрано жодним студентом!</strong></p>
        </div>
      </div>
      <div *ngIf="!selectedDiscipline">
        <p>Інформація відсутня.</p>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayAddDisciplineDialog"
    [header]="'Додати нову дисципліну'"
    [closable]="true"
    [modal]="true"
    [style]="{width: '600px'}"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <form [formGroup]="addDisciplineForm">
        <div class="p-fluid form-container">
          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-barcode"></i>
            </span>
              <input
                id="code"
                type="text"
                pInputText
                formControlName="code"
                placeholder="Код дисципліни"
              />
            </p-inputGroup>
            <small *ngIf="addDisciplineForm.get('code')?.invalid && addDisciplineForm.get('code')?.touched"
                   class="p-error">
              Введіть коректний код!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-book"></i>
            </span>
              <input
                id="title"
                type="text"
                pInputText
                formControlName="title"
                placeholder="Назва дисципліни"
              />
            </p-inputGroup>
            <small *ngIf="addDisciplineForm.get('title')?.invalid && addDisciplineForm.get('title')?.touched"
                   class="p-error">
              Введіть коректну назву!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-dropdown
              id="semester"
              [options]="semesterOptions"
              formControlName="semester"
              placeholder="Оберіть семестр">
            </p-dropdown>
            <small *ngIf="addDisciplineForm.get('semester')?.invalid && addDisciplineForm.get('semester')?.touched"
                   class="p-error">
              Введіть коректне значення семестру!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-calendar"></i>
            </span>
              <input
                id="year"
                type="text"
                pInputText
                formControlName="year"
                placeholder="Курси, наприклад: 1, 2, 3"
              />
            </p-inputGroup>
            <small *ngIf="addDisciplineForm.get('year')?.invalid && addDisciplineForm.get('year')?.touched"
                   class="p-error">
              Курс має містити лише позитивні числа, розділені комами!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-dropdown
              id="catalogueType"
              [options]="catalogueTypes"
              formControlName="catalogueType"
              placeholder="Оберіть тип каталогу">
            </p-dropdown>
            <small
              *ngIf="addDisciplineForm.get('catalogueType')?.invalid && addDisciplineForm.get('catalogueType')?.touched"
              class="p-error">
              Виберіть тип каталогу!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-dropdown
              id="educationalLevel"
              [options]="educationalLevels"
              formControlName="educationalLevel"
              placeholder="Оберіть освітній рівень">
            </p-dropdown>
            <small
              *ngIf="addDisciplineForm.get('educationalLevel')?.invalid && addDisciplineForm.get('educationalLevel')?.touched"
              class="p-error">
              Виберіть освітній рівень!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-link"></i>
            </span>
              <input
                id="link"
                type="text"
                pInputText
                formControlName="link"
                placeholder="Посилання на документ"
              />
            </p-inputGroup>
            <small *ngIf="addDisciplineForm.get('link')?.invalid && addDisciplineForm.get('link')?.touched"
                   class="p-error">
              Введіть коректне посилання!
            </small>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Зберегти" icon="pi pi-check" (click)="saveDiscipline()"
              [disabled]="addDisciplineForm.invalid"></button>
      <button pButton label="Скасувати" icon="pi pi-times" (click)="closeAddDisciplineDialog()"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayEditDisciplineDialog"
    [header]="'Редагувати інформацію про дисципліну'"
    [closable]="true"
    [modal]="true"
    [style]="{width: '600px'}"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <form [formGroup]="editDisciplineForm">
        <div class="p-fluid form-container">
          <div class="p-field fullSize">
            <p-inputGroup>
              <span class="p-inputgroup-addon">
                <i class="pi pi-barcode"></i>
              </span>
              <input
                id="codeUpdate"
                type="text"
                pInputText
                formControlName="codeUpdate"
                placeholder="Код дисципліни"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('codeUpdate')?.invalid && editDisciplineForm.get('codeUpdate')?.touched"
              class="p-error">
              Введіть коректний код!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
              <span class="p-inputgroup-addon">
                <i class="pi pi-book"></i>
              </span>
              <input
                id="titleUpdate"
                type="text"
                pInputText
                formControlName="titleUpdate"
                placeholder="Назва дисципліни"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('titleUpdate')?.invalid && editDisciplineForm.get('titleUpdate')?.touched"
              class="p-error">
              Назва дисципліни обов'язкова!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-dropdown
              id="semesterUpdate"
              [options]="semesterOptions"
              formControlName="semesterUpdate"
              placeholder="Оберіть семестр">
            </p-dropdown>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
              <span class="p-inputgroup-addon">
                <i class="pi pi-clock"></i>
              </span>
              <input
                id="yearUpdate"
                type="text"
                pInputText
                formControlName="yearUpdate"
                placeholder="Курс (напр.: 1, 2, 4)"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('yearUpdate')?.invalid && editDisciplineForm.get('yearUpdate')?.touched"
              class="p-error">
              Курс має містити лише позитивні числа, розділені комами!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-dropdown
              id="catalogueTypeUpdate"
              [options]="catalogueTypes"
              optionLabel="label"
              formControlName="catalogueTypeUpdate"
              placeholder="Оберіть тип каталогу">
            </p-dropdown>
            <small
              *ngIf="editDisciplineForm.get('catalogueTypeUpdate')?.invalid && editDisciplineForm.get('catalogueTypeUpdate')?.touched"
              class="p-error">
              Тип каталогу обов'язковий!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-dropdown
              id="educationalLevelUpdate"
              [options]="educationalLevels"
              optionLabel="label"
              formControlName="educationalLevelUpdate"
              placeholder="Оберіть рівень освіти">
            </p-dropdown>
            <small
              *ngIf="editDisciplineForm.get('educationalLevelUpdate')?.invalid && editDisciplineForm.get('educationalLevelUpdate')?.touched"
              class="p-error">
              Рівень освіти обов'язковий!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
              <span class="p-inputgroup-addon">
                <i class="pi pi-link"></i>
              </span>
              <input
                id="linkUpdate"
                type="text"
                pInputText
                formControlName="linkUpdate"
                placeholder="URL посилання"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('linkUpdate')?.invalid && editDisciplineForm.get('linkUpdate')?.touched"
              class="p-error">
              Введіть корекне посилання!
            </small>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Зберегти" icon="pi pi-check" (click)="saveEditedDiscipline()"
              [disabled]="editDisciplineForm.invalid"></button>
      <button pButton label="Скасувати" icon="pi pi-times" (click)="closeEditDisciplineDialog()"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>

</div>

<div *ngIf="getRole() !== UserRoles.admin && getRole() !== UserRoles.teacher" class="ban">
  <i class="pi pi-lock ban-icon"></i>

  <div class="ban-text">
    У вас немає доступу до цієї сторінки!
  </div>
</div>
