.user-list-container {
  padding: 1rem 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  width: 300px;
  margin-right: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.fullSize {
  width: 100%;
}

.button-container {
  display: flex;
  gap: 1rem;
}

a:link {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover {
  color: #003a85;
}

a:active {
  color: var(--primary-color);
}

@media screen and (max-width: 730px) {
  .search-container,
  .button-container {
    width: 100%;
  }

  .search-container > span,
  .search-container > span > input {
    width: 100%;
  }

  .container-header, .button-container {
    flex-direction: column;
    gap: 1rem;
  }

  .container-header > .button-container > button {
    width: 100%;
    text-align: start;
  }
}
