.user-list-container {
  padding: 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container {
  width: 100%;
}

.search-container > span,
.search-container > span > input {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.fullSize {
  width: 100%;
}
