<div *ngIf="getRole() === UserRoles.admin || getRole() === UserRoles.teacher">
  <div class="user-list-container">
    <div class="container-header mb-3">
      <div class="search-container">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Пошук"
          (input)="applyFilter($event)"
        />
      </span>
      </div>

      <div class="button-container">
        <button
          pButton
          label="Наступний курс"
          icon="pi pi-angle-double-up"
          class="p-button-success p-button-outlined"
          (click)="confirmNewYear($event)"></button>

        <button
          pButton
          label="Додати групу"
          icon="pi pi-plus"
          class="p-button-success"
          (click)="openAddGroupDialog()"></button>
      </div>
    </div>

    <p-table
      [value]="filteredGroups"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [sortMode]="'multiple'"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="title">Шифр групи
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="year">Курс
            <p-sortIcon field="year"></p-sortIcon>
          </th>
          <th *ngIf="getRole() === UserRoles.admin" style="width: 14.5rem; min-width: 14.5rem"></th>
          <th style="width: 5rem"></th>
          <th style="width: 5rem"></th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-group>
        <tr>
          <td>{{ group.id }}</td>
          <td>{{ group.title }}</td>
          <td>{{ group.year }}</td>
          <td *ngIf="getRole() === UserRoles.admin">
            <button
              pButton
              icon="pi pi-book"
              label="Вибір дисциплін"
              class="p-button p-button-outlined"
              (click)="viewGroupDisciplinesCountsDetails(group)"
            ></button>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-warning"
              (click)="editGroup(group)"
            ></button>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="confirmDelete($event, group.id)"
            ></button>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-eye"
              class="p-button-accent"
              (click)="viewGroupDetails(group)"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Дані не знайдені...</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="displayGroupDisciplinesCountsDialog"
    [header]="'Кількість дисциплін для вибору'"
    [closable]="true"
    [dismissableMask]="true"
    [style]="{width: '1000px'}"
    [modal]="true"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <div *ngIf="selectedGroup">
        <div class="container-header mb-3">
          <div class="search-container">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Пошук"
                (input)="applyFilterDisciplines($event)"
              />
            </span>
          </div>

          <div class="button-container">
            <button
              pButton
              label="Додати вибір"
              icon="pi pi-plus"
              class="p-button-success"
              (click)="openAddDisciplineDialog()"></button>
          </div>
        </div>
        <div *ngIf="disciplinesCounts.length">
          <p-table
            [value]="filteredDisciplines"
            [paginator]="true"
            [rows]="5"
            [sortMode]="'multiple'"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="toYear">Курс
                  <p-sortIcon field="toYear"></p-sortIcon>
                </th>
                <th pSortableColumn="toSemester">Семестр
                  <p-sortIcon field="toSemester"></p-sortIcon>
                </th>
                <th pSortableColumn="disciplinesCount">Кількість дисциплін
                  <p-sortIcon field="disciplinesCount"></p-sortIcon>
                </th>
                <th style="width: 5rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-discipline>
              <tr>
                <td>{{ discipline.toYear }}</td>
                <td>{{ discipline.toSemester }}</td>
                <td>{{ discipline.disciplinesCount }}</td>
                <td>
                  <button
                    pButton
                    icon="pi pi-pencil"
                    class="p-button-warning"
                    (click)="editDiscipline(discipline)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">Дані не знайдені...</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="!disciplinesCounts.length">
          <p><strong>Група ще не містить інформації про вибір дисциплін!</strong></p>
        </div>
      </div>
      <div *ngIf="!selectedGroup">
        <p>Інформація відсутня.</p>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayAddDisciplineDialog"
    [header]="'Додати нову інформацію про вибір'"
    [closable]="true"
    [modal]="true"
    [style]="{width: '600px'}"
    [baseZIndex]="10001">

    <ng-template pTemplate="content">
      <form [formGroup]="addDisciplineForm">
        <div class="p-fluid form-container">
          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi pi-hashtag"></i>
            </span>

              <input
                id="disciplinesCount"
                type="text"
                pInputText
                formControlName="disciplinesCount"
                placeholder="Кількість дисциплін"
                [min]="1"
              />
            </p-inputGroup>
            <small
              *ngIf="addDisciplineForm.get('disciplinesCount')?.invalid && addDisciplineForm.get('disciplinesCount')?.touched"
              class="p-error">
              Введіть коректне значення кількості дисциплін!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-calendar"></i>
            </span>
              <input
                id="toSemester"
                type="number"
                pInputText
                formControlName="toSemester"
                placeholder="Семестр"
                [min]="1"
                [max]="2"
              />
            </p-inputGroup>
            <small
              *ngIf="addDisciplineForm.get('toSemester')?.hasError('positiveNumber') && addDisciplineForm.get('toSemester')?.touched"
              class="p-error">
              Введіть коректний семестр! Семестр повинен бути 1 чи 2.
            </small>
            <small
              *ngIf="addDisciplineForm.get('toSemester')?.hasError('required') && addDisciplineForm.get('toSemester')?.touched"
              class="p-error">
              Семестр обов'язковий!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-graduation-cap"></i>
            </span>
              <input
                id="toYear"
                type="number"
                pInputText
                formControlName="toYear"
                placeholder="Курс"
                [min]="1"
              />
            </p-inputGroup>
            <small
              *ngIf="addDisciplineForm.get('toYear')?.hasError('positiveNumber') && addDisciplineForm.get('toYear')?.touched"
              class="p-error">
              Введіть коректний курс! Курс повинен бути більше 0.
            </small>
            <small
              *ngIf="addDisciplineForm.get('toYear')?.hasError('required') && addDisciplineForm.get('toYear')?.touched"
              class="p-error">
              Курс обов'язковий!
            </small>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Зберегти" icon="pi pi-check" (click)="saveDiscipline()"
              [disabled]="addDisciplineForm.invalid"></button>
      <button pButton label="Скасувати" icon="pi pi-times" (click)="closeAddDisciplineDialog()"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayEditDisciplineDialog"
    [header]="'Редагувати інформацію про вибір'"
    [closable]="true"
    [modal]="true"
    [style]="{width: '600px'}"
    [baseZIndex]="10001">

    <ng-template pTemplate="content">
      <form [formGroup]="editDisciplineForm">
        <div class="p-fluid form-container">
          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi pi-hashtag"></i>
            </span>

              <input
                id="disciplinesCountUpdate"
                type="text"
                pInputText
                formControlName="disciplinesCountUpdate"
                placeholder="Кількість дисциплін"
                [min]="1"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('disciplinesCountUpdate')?.invalid && editDisciplineForm.get('disciplinesCountUpdate')?.touched"
              class="p-error">
              Введіть коректне значення кількості дисциплін!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-calendar"></i>
            </span>
              <input
                id="toSemesterUpdate"
                type="number"
                pInputText
                formControlName="toSemesterUpdate"
                placeholder="Семестр"
                [min]="1"
                [max]="2"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('toSemesterUpdate')?.hasError('positiveNumber') && editDisciplineForm.get('toSemesterUpdate')?.touched"
              class="p-error">
              Введіть коректний семестр! Семестр повинен бути 1 чи 2.
            </small>
            <small
              *ngIf="editDisciplineForm.get('toSemesterUpdate')?.hasError('required') && editDisciplineForm.get('toSemesterUpdate')?.touched"
              class="p-error">
              Семестр обов'язковий!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-graduation-cap"></i>
            </span>
              <input
                id="toYearUpdate"
                type="number"
                pInputText
                formControlName="toYearUpdate"
                placeholder="Курс"
                [min]="1"
              />
            </p-inputGroup>
            <small
              *ngIf="editDisciplineForm.get('toYearUpdate')?.hasError('positiveNumber') && editDisciplineForm.get('toYearUpdate')?.touched"
              class="p-error">
              Введіть коректний курс! Курс повинен бути більше 0.
            </small>
            <small
              *ngIf="editDisciplineForm.get('toYearUpdate')?.hasError('required') && editDisciplineForm.get('toYearUpdate')?.touched"
              class="p-error">
              Курс обов'язковий!
            </small>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Зберегти" icon="pi pi-check" (click)="saveEditedDiscipline()"
              [disabled]="editDisciplineForm.invalid"></button>
      <button pButton label="Скасувати" icon="pi pi-times" (click)="closeEditDisciplineDialog()"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayGroupDialog"
    [header]="'Детальна інформація'"
    [closable]="true"
    [dismissableMask]="true"
    [style]="{width: '1000px'}"
    [modal]="true"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <div *ngIf="selectedGroup">
        <p><strong>ID:</strong> {{ selectedGroup.id }}</p>
        <p><strong>Шифр групи:</strong> {{ selectedGroup.title }}</p>
        <p><strong>Курс:</strong> {{ selectedGroup.year }}</p>
        <p><strong>Дата створення запису:</strong> {{ selectedGroup.createdAt | date:'dd.MM.yyyy HH:mm' }}</p>
        <p><strong>Дата оновлення запису:</strong> {{ selectedGroup.updatedAt | date:'dd.MM.yyyy HH:mm' }}</p>
        <div *ngIf="users.length">
          <p-table
            [value]="users"
            [paginator]="true"
            [rows]="5">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Студенти
                  <p-sortIcon field="name"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.name }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="!users.length">
          <p><strong>Група не містить студентів!</strong></p>
        </div>
      </div>
      <div *ngIf="!selectedGroup">
        <p>Інформація відсутня.</p>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayAddGroupDialog"
    [header]="'Додати нову групу'"
    [closable]="true"
    [modal]="true"
    [style]="{width: '600px'}"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <form [formGroup]="addGroupForm">
        <div class="p-fluid form-container">
          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-id-card"></i>
            </span>

              <input
                id="title"
                type="text"
                pInputText
                formControlName="title"
                placeholder="Шифр групи"
              />
            </p-inputGroup>
            <small *ngIf="addGroupForm.get('title')?.invalid && addGroupForm.get('title')?.touched" class="p-error">
              Введіть коректний шифр!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-graduation-cap"></i>
            </span>
              <input
                id="year"
                type="number"
                pInputText
                formControlName="year"
                placeholder="Курс"
                (input)="onYearInputAdd($event)"
                [min]="1"
              />
            </p-inputGroup>
            <small *ngIf="addGroupForm.get('year')?.hasError('positiveNumber') && addGroupForm.get('year')?.touched"
                   class="p-error">
              Введіть коректний курс! Курс повинен бути більше 0.
            </small>
            <small *ngIf="addGroupForm.get('year')?.hasError('required') && addGroupForm.get('year')?.touched"
                   class="p-error">
              Курс обов'язковий!
            </small>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Зберегти" icon="pi pi-check" (click)="saveGroup()"
              [disabled]="addGroupForm.invalid"></button>
      <button pButton label="Скасувати" icon="pi pi-times" (click)="closeAddGroupDialog()"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayEditGroupDialog"
    [header]="'Редагування інформації про групу'"
    [closable]="true"
    [modal]="true"
    [style]="{width: '600px'}"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
      <form [formGroup]="editGroupForm">
        <div class="p-fluid form-container">
          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-id-card"></i>
            </span>
              <input
                id="titleUpdate"
                type="text"
                pInputText
                formControlName="titleUpdate"
                placeholder="Шифр групи"
              />
            </p-inputGroup>
            <small *ngIf="editGroupForm.get('titleUpdate')?.invalid && editGroupForm.get('titleUpdate')?.touched"
                   class="p-error">
              Введіть коректний шифр!
            </small>
          </div>

          <div class="p-field fullSize">
            <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-graduation-cap"></i>
            </span>
              <input
                id="yearUpdate"
                type="number"
                pInputText
                formControlName="yearUpdate"
                placeholder="Email"
                (input)="onYearInputEdit($event)"
                [min]="1"
              />
            </p-inputGroup>
            <small
              *ngIf="addGroupForm.get('yearUpdate')?.hasError('positiveNumber') && addGroupForm.get('yearUpdate')?.touched"
              class="p-error">
              Введіть коректний курс! Курс повинен бути більше 0.
            </small>
            <small
              *ngIf="addGroupForm.get('yearUpdate')?.hasError('required') && addGroupForm.get('yearUpdate')?.touched"
              class="p-error">
              Курс обов'язковий!
            </small>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Зберегти" icon="pi pi-check" (click)="saveEditedGroup()"
              [disabled]="editGroupForm.invalid"></button>
      <button pButton label="Скасувати" icon="pi pi-times" (click)="closeEditGroupDialog()"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>
</div>

<div *ngIf="getRole() !== UserRoles.admin && getRole() !== UserRoles.teacher" class="ban">
  <i class="pi pi-lock ban-icon"></i>

  <div class="ban-text">
    У вас немає доступу до цієї сторінки!
  </div>
</div>
